<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Muli">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href=".././css/about.css">
    <title>Application Library Engineering Group</title>
    <link rel="icon" href=".././images/logo1.png">
    
</head>
<body>
     <!--navigation bar-->
    
     <nav class="navbar navbar-expand-md">
        <a href=".././index.html">
            <img src=".././images/applib_logo.png" alt="applib image">
        </a>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a href=".././templates/library.html" class="nav-link">Library</a>
            </li>
            <li class="nav-item">
                <a href=".././templates/events.html" class="nav-link">Events</a>
            </li>
            <li class="nav-item">
                <a href=".././templates/discussion.html" class="nav-link">Discussion</a>
            </li>
            <li class="nav-item">
                <a href=".././templates/community.html" class="nav-link">Community</a>
            </li>
            <li class="nav-item">
                <a href=".././templates/about.html" class="nav-link">About Us</a>
            </li>
        </ul>
    </nav>
    
    <section>
        <hr>
        <!--first row-->

        <div class="flex-container">
            <div class="flex-item-left">
                <h2>About <span class="aboutus-color"> Us</span></h2>
                <p>Application Library Engineering group is an open platform where developers of software applications, libraries and components can come together and interact with an intent to learn, collaborate and contribute towards a fast-paced and enriched application development ecosystem for connected consumer devices.</p>
            </div>

            <div class="flex-item-right move-below">
                <img src=".././images/aboutus.png" alt="" width="100%">
            </div>
        </div>

        <!--second row-->

        <div class="flex-container">
            <div class="flex-item-right">
                <img src=".././images/vision.png" alt="" width="100%">
            </div>

            <div class="flex-item-left">
                <h2>Our <span class="aboutus-color">Vision</span></h2>
                <p>World's Innovative open collaborate platform for building reusable application components (Design to Deployment) to reduce effort and fast track application development on multiple platforms.</p>
            </div>
            
        </div>

        <!--third row-->

        <div class="flex-container">
            <div class="flex-item-left">
                <h2>Our <span class="aboutus-color">Mission</span></h2>
                <p>Build components for all top three mobile and connected platforms in the world like Android,HMOS and ios platforms.<br><br>Maintain libs to build complete application flow in multiple categories like health ,banking ,IM ,Messaging ,Media ,Music video and many others.<br></br>Deploy UI/UX designs for reusability at each step.<br></br>Reduce R&D effort and timeline greatly in order to build any kind of solution development and deployment in popular middleware platforms.</p>
            </div>
            <div class="flex-item-right move-below-3">
                 <img src=".././images/Mission.png" alt="mission" width="100%">
            </div>
        </div>

        <!--form section-->

        <div class="flex-container">
            <div class="flex-item-left page-color">
                <h2 class="move-px">Contact Us</h2>
                <p class="move-px">Feel free to contact us anytime. We will get back to you soon as we can!</p>

                <!--CONTACT US FORM-->
                <section class="contact">
                    <div class="search">
                        <form>
                            <input type="text" size="50" name="name" placeholder="Name" class="input"><br></br>
                            <input type="text" size="50" name="name" placeholder="Email" class="input"><br></br>
                            <textarea type="text" name="message" size="40" cols="30" rows="4" placeholder="Message"></textarea><br></br>
                            <button onclick="document.getElementById('input').value=''">SEND</button>
                            
                        </form>
                    </div>
                </section>
            </div>
            <div class="flex-item-right page-color">
                 <img src=".././images/contact-us.png" alt="mission" width="100%">
            </div>
        </div>
        
    </section>
    
    <!--footer-->

    <footer class="footer">
        <div class="login_1">
            <ul class="footer_img">
                <li><img src=".././images/footer/logo_white-02.png" alt="logo" width="300px;"></li>
            </ul>
        </div>
        <div class="footer_socialicons">
            <ul>
                <li><a href="https://www.facebook.com/Application-Libarary-Engineering-Group-101182928663338" target="_blank"><img src=".././images/footer/fb_icon.png"></a></li>
                <li><a href="https://www.youtube.com/channel/UCbHrg3UTvtODxF-mEQMpfFQ" target="_blank"><img src=".././images/footer/youtube_icon.png"></a></li>
                <li><a href="https://www.linkedin.com/groups/9012715/" target="_blank"><img src=".././images/footer/linkedin_icon.png"></a></li>
                <li><a href="https://github.com/applibgroup" target="_blank"><img src=".././images/footer/github_icon.png"></a></li>
                <li><a href="https://www.meetup.com/application-library-engineering-group/" target="_blank"><img src=".././images/footer/meetup.png"></a></li>
                <li><a href="https://www.medium.com/@applibgroup" target="_blank"><img src=".././images/footer/medium.png"></a></li>
                <li><a href="https://applibgroup.slack.com" target="_blank"><img src=".././images/footer/slack_icon.png"></a></li>
                <li><a href="https://twitter.com/applibgroup" target="_blank"><img src=".././images/footer/twitter.png"></a></li>
            </ul>

        </div>
        <p>2020 Application Library Engineering Group</p>
    </footer>
       
   
</body>
</html>
