<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Muli">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href=".././css/library.css">
    <title>Application Library Engineering Group</title>
    <link rel="icon" href=".././images/logo1.png">
    
</head>
<body>
   <!--navigation bar-->
    
   <nav class="navbar navbar-expand-md">
    <a href=".././index.html">
        <img src=".././images/applib_logo.png" alt="applib image">
    </a>
    <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <a href=".././templates/library.html" class="nav-link">Library</a>
        </li>
        <li class="nav-item">
            <a href=".././templates/events.html" class="nav-link">Events</a>
        </li>
        <li class="nav-item">
            <a href=".././templates/discussion.html" class="nav-link">Discussion</a>
        </li>
        <li class="nav-item">
            <a href=".././templates/community.html" class="nav-link">Community</a>
        </li>
        <li class="nav-item">
            <a href=".././templates/about.html" class="nav-link">About Us</a>
        </li>
    </ul>
    </nav>
     
     
        <!--home container part-->
     
      <section>
          
        <div class="flex-container">
            <div class="flex-item-left page-color">
                <h2>Welcome to the </h2>
                <h2>Application Library</h2>
                <h2>Engineering Group Libraries</h2>
            </div>

            <div class="flex-item-right page-color">
                <img src=".././images/library_image.png" alt="library" width="100%">
            </div>
        </div>

        <!--third row container-->


        <div class="container mt-3">
            <div class="wrapper text-center">
                <h2>Developer's Library</h2>
            </div>   
            <div class="media border p-3">
                <img src=".././images/social sites_images/github.png" alt="github image"  style="width: 130px;">
                <div class="media-body">
                    <p>An easy way to contribute ,send feedback and track the important issues.We welcome contributions and contains information on how to get started which can be found at our contribution guide.</p>
                    <a href="https://github.com/applibgroup" style="text-decoration: none;"><button class="btn btn-primary">Read more</button></a>
                </div>
            </div>
           <!-- <div class="media border p-3">
                <img src="/images/social sites_images/github.png" alt="github image" class="mr-3 mt-3" style="width: 100px;">
                <div class="media-body">
                    <p>An easy way to contribute ,send feedback and track the important issues.We welcome contributions and contains information on how to get started which can be found at our contribution guide.</p>
                    <button class="btn btn-primary">Read more</button>
                </div>
            </div>-->
        </div>
    </section>

    <!--footer-->
    <footer class="footer">
        <div class="login_1">
            <ul class="footer_img">
                <li><img src=".././images/footer/logo_white-02.png" alt="logo" width="300px;"></li>
            </ul>
        </div>
        <div class="footer_socialicons">
            <ul>
                <li><a href="https://www.facebook.com/Application-Libarary-Engineering-Group-101182928663338" target="_blank"><img src=".././images/footer/fb_icon.png"></a></li>
                <li><a href="https://www.youtube.com/channel/UCbHrg3UTvtODxF-mEQMpfFQ" target="_blank"><img src=".././images/footer/youtube_icon.png"></a></li>
                <li><a href="https://www.linkedin.com/groups/9012715/" target="_blank"><img src=".././images/footer/linkedin_icon.png"></a></li>
                <li><a href="https://github.com/applibgroup" target="_blank"><img src=".././images/footer/github_icon.png"></a></li>
                <li><a href="https://www.meetup.com/application-library-engineering-group/" target="_blank"><img src=".././images/footer/meetup.png"></a></li>
                <li><a href="https://www.medium.com/@applibgroup" target="_blank"><img src=".././images/footer/medium.png"></a></li>
                <li><a href="https://applibgroup.slack.com" target="_blank"><img src=".././images/footer/slack_icon.png"></a></li>
                <li><a href="https://twitter.com/applibgroup" target="_blank"><img src=".././images/footer/twitter.png"></a></li>
            </ul>

        </div>
        <p>2020 Application Library Engineering Group</p>
    </footer>

</body>
</html>
