*{
    margin:0;
    padding: 0;
}
*{
    box-sizing: border-box;
}


body{
    font-family: 'Muli';
}

/* .navbar-nav{
    padding: 0 0 0 200px;
} */

.nav-item{
    padding: 0 20px 0 0;
}

.nav-link{
    font-family: Arial, Helvetica, sans-serif;
}

.home-container{
    background-color: #f8eace;
}
.search-button{
    padding: 30px 0 0 0;
}
.home-desc{
    width: 100%;
    padding: 10px 0 10px 30px;
}

.navbar{
    display: flex;
}

.active{
    border-bottom: 5ps solid #2574ed;
    padding: 10px 5px;
}
.navbar a {
    color: dodgerblue;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}

.navbar img{
    width:300px
}

.header-h2{
    padding: 80px 0 0 0;
}

.flex-container{
    display: flex;
    flex-direction: row;
    
    /* text-align: center; */
}

.flex-item-1{
   background-color: #eceff1;
   flex: 25%;
}

.flex-item-1 h3{
    text-align: center;
}


.flex-item-left{
    background-color: #eceff1;
    padding: 80px;
    flex: 50%;
}

.flex-item-left p{
    margin-top: 5%;
   font-size: larger;
   font-weight: 600px;
  
}

.page-color{
    background-color: #f8eace;
    padding: 20px;
    
}

/* page font size and weight*/

.page-color h2{
    line-height: 45px;

}

h2{

    font-weight: bold;
}

.page-color h4{
    padding: 10px 0 20px 0;
}

h4{
    font-weight: normal;
}

.form-inline{
    padding: 10px 0 20px 0;
}

.btn-primary{
    margin: 10px 0 0 0;
}


.flex-item-right{
    
    padding: 10px;
    flex: 50%;
}

/* list */




.lib-container{
    background-color: #eceff1;
    height: 70%;
}

.library-detail{
    padding: 40px 20px 20px 0;
}

/* libraries height */

.library-detail h2{
    padding: 0 0 10px 0;
}



.libraries{
    color: #2574ed;
}





.online-event-details {
    padding: 10px 0 70px 50px  !important;
}
.panel{
    
    box-sizing: border-box;
    transition: box-shadow 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: white;
    margin: 6% 0 ;
}
.panel-heading{
    padding: 15px;
}
.panel-color{
    background-color: white;
    padding-bottom: 10px;
}
.panel-color h5{
    color: #2574ed;
    text-align: left;
    font-weight: bold;
}
.panel-color p{
    text-align: left;
    padding:0 10px;
    
}

.online-events img{
  width: 100%;
}

/*last row*/

.Librarycard{
    box-sizing: border-box;
    transition: box-shadow 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    padding: 15px;
    background-color: white;
    margin: 6% 0 ;
}
 #icon::after{
    content: url('.././images/next_blue.png');
    position: relative;
    top: 8px;
    font-weight: 500;
    
    
}



h6.LaunchHeading{
 font-weight:bold;
}


.btn img{
    width: 50%;
}
 

.online-event-details{
    padding: 10px 0 70px 0;
}

#btn-organize {
    font-weight: 600;
}

@media screen and (max-width:800px){
    .flex-container{
        flex-direction:column;
    }

    .navbar{
        flex-direction: column;
    }

    .navbar a {
        color: dodgerblue;
        font-weight: bolder;
        text-decoration: none;
        text-align: center;
        padding: 10px 0 0 0;
    }

    .page-color h2{
       text-align: center;
    }

    .navbar-nav{
        text-align: center;
    }
 

    .ml-auto, .mx-auto {
        margin: auto;
    }

    .online-event-details {
        padding: 10px 0 70px 0  !important;
    }
    

}



.footer{
    background-color: #2B3856;
    padding: 40px 0px;
    margin-top: 5px;
}
.footer .login_1 .footer_img{
    text-align: center;
    justify-content: center;
}
.footer .footer_socialicons{
    text-align: center;
}
.footer .footer_socialicons ul li{
    display: inline-block;
    margin-top: 15px;
}
.footer .footer_socialicons ul li img{
    width: 55px;
}

.footer p{
    font-size: 20px;
    margin-top: 5px;
    color:#ffffff;
    margin-top: 35px;
    text-align: center;
}

button.btn.btn-primary {
    padding-top: 0px;
}

@media screen and (min-width:768px){
    .page-color h2{
        text-align: center;
    }
    /* .Librarycard {
        padding: 10px;
    } */
   
}